/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL */
html,
body,
button,
input {
  font-family: "Source Sans Pro", sans-serif;
  color: #060606;
}

span {
  font-family: "Source Sans Pro", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
  color: #060606;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  color: #060606;
}
body a:hover,
.logo a:hover {
  text-decoration: none;
  color: #060606;
}

.logo a {
  font-size: 32px;
  color: #fb811e;
  transition: all 0.5s;
}

.logo a i {
  font-size: 20px;
  position: absolute;
  top: -13px;
  left: 54px;
}

.btn-general {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  background-color: #fb811e;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;
  transition: all 0.3s ease-in-out;
}
.btn-general:hover {
  background-color: #009f4d;
}

.small-title {
  color: #fb811e;
  font-size: 22px;
}

.big-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}

.label-style {
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}

.reset-p-m {
  padding: 0;
  margin: 0;
}
/* START HEADER*/
header {
  background-color: transparent;
  padding: 0px;
  height: 90px;
  align-items: center;
  display: grid;
  transition: all 0.4s ease 0s;
}

.right__menu {
  vertical-align: middle;
  align-items: center;
}

.navbar {
  padding: 0;
}

.navbar .search {
  margin: 0 10px 0 10px;
}

.navbar .search input[type="search"] {
  background: #fff url(image/search.png) no-repeat 10px center;
  border: solid 1px #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 10em;
  transition: all 0.5s;
  cursor: pointer;
}

.navbar .search input[type="search"]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
  outline: none;
}

.header__logo {
  position: relative;
  line-height: 27px;
}

/* start SWITCH THEME */
#switchTheme i.moon {
  display: block;
  cursor: pointer;
  font-size: 15px;
  overflow: hidden;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
  border-radius: 50%;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  transition: all 0.5s;
}
#switchTheme i.moon:hover {
  color: #fb811e;
}
#switchTheme i.moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
  border-radius: 50%;
}
#switchTheme i.moon:hover,
#switchTheme i.sun:hover {
  color: #fb811e;
}

#switchTheme i.sun {
  display: none;
  cursor: pointer;
  width: 24px;
  position: relative;
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
  transition: all 0.5s;
}
#switchTheme i.sun::before,
#switchTheme i.sun::after {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}
#switchTheme i.sun::before {
  transform: rotate(-45deg);
  display: block;
  width: 24px;
}
#switchTheme i.sun::after {
  transform: rotate(45deg);
  display: block;
  width: 24px;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.mode-container {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 0px 0px;
  margin-left: 10px;
  color: #fff;
}

header.nav-fixed #switchTheme i.moon {
  color: #060606;
}
header.nav-fixed #switchTheme i.moon::after {
  color: #060606;
}
/* End SWITCH THEME */

.dropdown i {
  color: #fff;
  font-size: 26px;
}

.dropdown-menu.show {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}

.dropdown-menu {
  max-height: 0;
  right: 0;
  left: unset;
  width: 230px;
  text-align: center;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
  transition: max-height 0.5s ease-out;
}

.dropdown-menu .dropdown-item {
  font-weight: 600;
  line-height: 27px;
  transition: all 0.5s;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fb811e;
  background-color: unset;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fb811e;
  background-color: unset;
}

/* sticky header */
header.nav-fixed {
  z-index: 99 !important;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 /5%);
  height: 70px;
}

header.nav-fixed .logo a {
  color: #060606;
}

header.nav-fixed .dropdown i {
  color: #060606;
}
/* sticky header */

/* responsive */
@media (max-width: 1440px) {
}

@media (max-width: 1150px) {
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .header__logo a {
    color: #fff;
  }
  header.nav-fixed .logo a {
    color: #fb811e;
  }
}

@media (max-width: 568px) {
}

@media (max-width: 480px) {
  .header__logo a {
    font-size: 28px;
  }
}
/* END HEADER */

/* START CAROUSEL */
.carousel .left {
  left: 10em;
  z-index: 1;
}

.carousel .background-text {
  font-size: 120px;
  color: #f4f4f4;
  font-weight: bold;
  margin-left: -0.5em;
}

.carousel .left h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}

.carousel .left p {
  font-size: 20px;
}

.carousel .right.col-md-7 {
  padding-right: 0px;
  padding-left: 0px;
}

.carousel .carousel-caption {
  left: unset;
  right: 1em;
  bottom: 2.5em;
  padding-top: unset;
  padding-bottom: unset;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  opacity: unset;
}
.carousel-indicators li.active {
  background-color: #fb811e;
}

.carousel-item {
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.carousel-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 17%);
  top: 0;
}

.carousel-item img {
  object-fit: cover;
  object-position: top center;
}

/* responsive */
@media (max-width: 1440px) {
  .carousel .left h3 {
    font-size: 40px;
    line-height: 50px;
  }

  .carousel .background-text {
    font-size: 100px;
  }
}

@media (max-width: 1150px) {
  .carousel .left h3 {
    font-size: 35px;
    line-height: 45px;
  }

  .carousel .background-text {
    font-size: 90px;
  }
  .carousel .left p {
    font-size: 17px;
  }
  h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .carousel .left {
    left: 5em;
  }
}

@media (max-width: 991px) {
  .carousel .left h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .carousel .background-text {
    font-size: 80px;
  }
  .carousel .left {
    left: 2em;
  }
}

@media (max-width: 768px) {
  .carousel .left {
    left: 0em;
    padding: 2em;
  }
  .carousel .left__content {
    padding: 3em 2em 2em 4em;
    background-color: #fff;
    border-radius: 8px;
  }
}

@media (max-width: 568px) {
  .carousel .left {
    position: absolute;
  }
  .carousel .left h3 {
    font-size: 28px;
    line-height: 38px;
  }

  .carousel .background-text {
    font-size: 70px;
  }
  .carousel .left p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .carousel .left h3 {
    font-size: 25px;
    line-height: 35px;
  }
  .carousel .background-text {
    font-size: 60px;
  }
  .carousel .left {
    padding: 1em;
    position: absolute;
    left: 0;
  }
  .carousel .left__content {
    padding: 2.5em 2em;
  }
  .header__logo a {
    font-size: 28px;
  }
}

/* END CAROUSEL */

/* START ABOUT US */
.about-us__tile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.about-us .box-wrap {
  padding: 40px 30px;
  border-radius: 30px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  background-color: #fff;
  text-align: center;
  transition: all 0.3s;
}

.about-us .box-wrap:hover {
  box-shadow: 0 25px 98px rgb(0 0 0 / 10%);
}

.about-us .box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

.about-us .box-wrap a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #060606;
  transition: all 0.5s;
}

.about-us .box-wrap:hover a {
  color: #009f4d;
}

/* responsive */
@media (max-width: 1440px) {
}

@media (max-width: 1150px) {
}

@media (max-width: 991px) {
  .small-title {
    font-size: 20px;
  }
  .big-title {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (max-width: 768px) {
  .small-title {
    font-size: 18px;
  }
  .big-title {
    font-size: 32px;
    line-height: 42px;
  }
  .about-us p {
    margin: 14px 0 26px;
  }
  .about-us .box-wrap {
    padding: 1.5em;
  }
  .about-us .box-wrap a {
    font-size: 18px;
  }
}

@media (max-width: 568px) {
  .big-title {
    font-size: 30px;
    line-height: 40px;
  }
  .about-us p {
    margin: 0px;
    margin-bottom: 10px;
  }
  .about-us .box-wrap a {
    margin-bottom: 7px;
  }
}

@media (max-width: 480px) {
  .about-us p {
    font-size: 15px;
  }
  .about-us__tile {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* END ABOUT US */

/* START PRODUCT */
.product {
  background-color: #009f4d;
}

.product p {
  padding: 0;
  margin: 0;
}

.product .background-text {
  position: absolute;
  color: #fff;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.product .product__text {
  font-size: 1.25rem;
  font-weight: 300;
}

.product__card {
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}

.product .card__body {
  padding: 30px 20px;
}

.product .product__heading {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  margin: 15px 0;
  transition: all 0.5s;
}

.product .product__heading:hover {
  color: #009f4d;
}
/* END PRODUCT */

/* START SERVICE */
.service span {
  color: #fb811e;
  font-size: 30px;
}

.service h4 {
  font-weight: 600;
  margin-bottom: 10px;
}

.service .right__content .photo {
  border-radius: 30px;
  overflow: hidden;
}

.service .badge {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}

.service .badge p {
  color: #fff;
}

.service .badge__heading {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}

/* responsive */
@media (max-width: 1440px) {
}

@media (max-width: 1150px) {
  .service h4 {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .service .badge {
    left: -50px;
  }
}

@media (max-width: 568px) {
}

@media (max-width: 480px) {
}
/* END SERVICE */

/* CATEGORY SECTION */
.category .category__content {
  margin-top: 30px;
}

.category__item {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 2rem 1rem;
  transition: all 0.5s ease-in-out;
}
.category__item:hover {
  border-color: #eee;
}

.category__item h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
}
.category__item:hover h4 {
  color: #009f4d;
  transition: all 0.5s linear;
}

.category__item p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
/* Start Responsive */
@media screen and (max-width: 991.98px) {
  .category__item h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 575.98px) {
  .category .category__content {
    margin-top: 10px;
  }
  .category__item {
    padding: 1.5rem 0.5rem;
  }
}
/* End Responsive */

/* GALLERY SECTION */
.gallery {
  margin-bottom: 1.5rem;
}

.gallery .small-title {
  font-size: 22px;
  color: #fb811e;
}

.gallery .big-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  /* color: #060606; */
}

.gallery__content p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}

/* Start light effect */
.gallery__img {
  position: relative;
  overflow: hidden;
}
.gallery__img::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.5s linear;
}
.gallery__img:hover::before {
  left: 125%;
}
/* End light effect */

.gallery__img .text-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  margin: 20px;
  font-weight: bold;
  background: rgba(255, 255, 255, 25%);
  color: #fff;
}
/* Start Responsive */
@media screen and (max-width: 991.98px) {
  .container-md-sm {
    padding: 0 30px;
  }
  .gallery__img img {
    background-size: cover;
    width: 100%;
  }
}
@media screen and (max-width: 575.98px) {
  .gallery-margin-sm {
    padding-bottom: 15px;
  }
  .gallery .small-title {
    font-size: 18px;
  }
  .gallery .big-title {
    font-size: 32px;
    line-height: 40px;
  }
  .gallery .btn-general {
    margin-top: 10px !important;
  }
  .gallery-last-img-sm img {
    width: 50%;
  }
  .gallery-last-img-sm .text-overlay {
    width: 40%;
  }
}
/* End Responsive */

/* TESTIMONIAL */
.testi-bg {
  background-image: url(./image/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  position: relative;
  height: 550px;
}

.testimonial__overlay {
  background-color: rgba(0, 0, 0, 45%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.testimonial__content {
  max-width: 900px;
}

.testimonial .testi-people {
  text-align: center;
}

.testimonial .testi-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial .testi-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 5px;
  color: #fff;
}

.testimonial .testi-info p {
  font-size: 16px;
  color: #fff;
}

.testimonial .testi-feedback i {
  font-size: 26px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}

.testimonial .testi-feedback p {
  font-size: 22px;
  color: #fff;
  line-height: 34px;
  text-indent: 30px;
  display: block;
}

.testimonial .testi-feedback p:before {
  content: "“";
}

.testimonial .testi-feedback p:after {
  content: "”";
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #fff;
  opacity: 30%;
}

.owl-theme .owl-dots button:focus {
  outline: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fb811e;
  opacity: 1;
}

.owl-theme .owl-dots .owl-dot {
  margin-top: 5rem;
}

/* Start Responsive */
@media screen and (max-width: 991.98px) {
  .testi-bg {
    background-size: auto;
    background-position: top left;
    height: 480px;
  }
  .owl-theme .owl-dots .owl-dot {
    margin-top: 3rem;
  }
  .testimonial .testi-feedback p {
    text-align: center;
  }
}
@media screen and (max-width: 575.98px) {
  .testi-bg {
    background-size: auto;
    background-position: center left;
    height: 600px;
  }
  .owl-theme .owl-dots .owl-dot {
    margin-top: 3rem;
  }
  .testimonial .testi-img {
    width: 75px;
    height: 75px;
  }
  .testimonial .testi-info h3 {
    font-size: 18px;
  }
  .testimonial .testi-feedback p {
    font-size: 18px;
  }
  .testimonial .testi-feedback {
    text-align: center;
  }
  .owl-theme .owl-dots .owl-dot {
    margin-top: 2rem;
  }
}
/* End Responsive */

/* FOOTER */
.footer__logo {
  position: relative;
}

footer h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: #060606;
  margin-bottom: 30px;
}

footer p,
footer a {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
  transition: all 0.5s ease-in-out;
}

footer a:hover {
  color: #fb811e;
}

footer .w3layouts {
  color: #009f4d;
}

.footer__news .subscribe .input {
  font-size: 16px;
  background: #f4f4f4;
  width: 80%;
  padding: 12px 20px;
  outline: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid #eee;
  color: #707070;
}

.footer__news .input:focus {
  outline: none;
}

.footer__news .button i {
  display: inline-block;
}

.footer__news .button {
  background-color: #009f4d;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  width: 20%;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.footer__news .button:hover {
  opacity: 80%;
}

.footer__news ul li {
  list-style: none;
  margin-right: 5px;
  display: inline-block;
}

.footer__news ul li a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  color: #009f4d;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  line-height: 35px;
}

.footer__news ul li a:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}

.footer__news ul li a:focus {
  outline: thin dotted;
}
/* Start Responsive */
@media screen and (max-width: 991.98px) {
  footer h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
/* End Responsive */

/* BACK TO TOP BUTTON */
.backtotop i {
  position: fixed;
  right: 15px;
  bottom: 90px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: white;
  background-color: #009f4d;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}
.backtotop i:hover {
  opacity: 80%;
}

/* Light theme */
#farmsteadBody {
  background-color: white;
}

/* Dark Theme*/
.dark#farmsteadBody {
  background-color: #222222;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h6 {
  color: #fdfffc;
}
.dark p {
  color: #b7b7b7;
}

.dark #switchTheme i.sun {
  display: block;
}
.dark #switchTheme i.moon {
  display: none;
}

.dark footer h4 a:hover {
  font-size: 32px;
  color: #eee;
}
.dark .footer__news .subscribe .input {
  background-color: #060606;
  border: 0.5px solid #707070;
}

.dark .carousel .background-text {
  color: #0b0d0e;
}

.dark .dropdown-menu {
  background-color: #222222;
}
.dark .dropdown-item {
  color: #fdfffc;
}
.dark .dropdown-item.active {
  color: #fb811e;
}
.dark .dropdown-item.active,
.dropdown-item:active {
  color: #fb811e;
}

.dark .dropdown-item:focus,
.dropdown-item:hover {
  color: #fb811e;
}

.dark .about-us .box-wrap {
  box-shadow: 0 1rem 3rem rgb(23 19 19);
  background-color: #222222;
}

.dark .about-us .box-wrap:hover {
  transition: all 0.3s;
  box-shadow: 0 25px 98px rgb(0 0 0 / 10%);
}

.dark .about-us .box-wrap a {
  color: #fdfffc;
}

.dark .product__card {
  background-color: #222222;
}
.dark .product__heading {
  color: #fdfffc;
}

/* sticky header DARK */
.dark header.nav-fixed {
  background-color: #222222;
}

.dark header.nav-fixed .logo a {
  color: #fdfffc;
}

.dark header.nav-fixed .dropdown i {
  color: #fdfffc;
}
/* sticky header DARK*/

/* responsive */
@media (max-width: 768px) {
  .dark .carousel .left__content {
    background-color: #222222;
  }
}

/* END OF CONTENT */
